<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CharacterDataConverter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>tool.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E95901371A7E794300851802</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9D7D1681A80048700DC2BA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9D7D1791A8005C000DC2BA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9D7D18A1A83A59C00DC2BA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
